absl-py==2.1.0
ale-py==0.8.1
alembic==1.14.1
altair==5.5.0
anyio
appdirs==1.4.4
argon2-cffi
asgiref==3.8.1
astroid
attrs
bcrypt
beautifulsoup4
black
bleach
blinker
bokeh
bottleneck
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
cmake==3.29.3
colorama
cycler
cytoolz
dask
debugpy
decorator
defusedxml
dill
distributed
distro
Django==5.1.5
django-admin==2.0.2
django-browser-reload==1.18.0
django-excel-response2==3.0.6
Flask
Flask-Cors==5.0.0
Flask-Login==0.6.3
Flask-Migrate==4.1.0
flask-mysql-connector==1.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
fonttools
flake8
uvicorn
fastapi
