{%extends 'base/base.html'%}
{% block content %}
  <div class="register-container">
      <h2>Iniciar Sesión</h2>
      <form method="POST" action="/login">
        <label for="username">Usuario</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Ingresar</button>
      </form>
      <div class="links">
        <p><a href="/register">Registrarse</a></p>
      </div>
    </div>
  </body>
  </html>
{% endblock %}