<div class="container mt-3">

    <h1> Proyeccion de Gastos Anuales mensuales</h1>
    
    <div class="table-responsivee">
        <table class="table table-hover table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Mes</th>
                    <th>Gasto</th>
                    <th>Proyeccion</th>
                </tr>
            </thead>
            <tbody id="gastos-tbody">
                {% for gasto in gastos %}
                <tr>
                    <td>{{ gasto.mes }}</td>
                    <td>{{ gasto.gasto }}</td>
                    <td>{{ gasto.proyeccion }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="3" class="text-center">No hay Gastos registrados.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>